extends layout

block styles
  link(rel='stylesheet', href='/css/detalle-publicacion.css')

block content

  - const promedio = estadisticas && estadisticas.promedio ? parseFloat(estadisticas.promedio) : 0
  - const promedioRedondeado = Math.round(promedio)
  - const cantidad = estadisticas && estadisticas.cantidad ? estadisticas.cantidad : 0

  - const estrellas = estadisticas && estadisticas.estrellas ? estadisticas.estrellas : {5:0,4:0,3:0,2:0,1:0}

  .insta-container

    .left
      if publicacion.imagen && publicacion.imagen.length > 50
        img(
          src=publicacion.imagen.startsWith('data:')
            ? publicacion.imagen
            : `data:image/jpeg;base64,${publicacion.imagen}`
        )
      else
        img(src='/img/no-image.png')

    .right

      .top
        i.bi.bi-person-circle.avatar
        span.username= publicacion.username

      .contenido
        strong= publicacion.titulo
        p= publicacion.descripcion

      hr

      .reviews-box

        .reviews-header
          span.score #{promedio.toFixed(1)}

          .mini-stars
            each i in [1,2,3,4,5]
              if i <= promedioRedondeado
                span ★
              else
                span ☆

          small #{cantidad} opiniones

      if usuario && !esAutor
        form.vote-form(action='/valoraciones/votar' method='POST')
          input(type='hidden' name='id_publicacion' value=publicacion.id)

          .rating-input
            each i in [5,4,3,2,1]
              input(type='radio' id=`star${i}` name='puntuacion' value=i required)
              label(for=`star${i}`) ★

          button.btn.btn-primary.btn-sm.mt-2 Votar

      hr

      .comments
        each c in comentarios
          .comment(
            class=c.id == comentarioDenunciado ? 'comentario-denunciado' : ''
          )

            .comment-left
              strong= c.username
              span.text= c.texto

            .comment-actions

              if usuario && usuario.id === c.id_usuario
                button.delete(
                  onclick=`eliminarComentario(${c.id}, this)`
                ) ✕

              if usuario && usuario.id !== c.id_usuario
                button.btn-menu(
                  type="button"
                  data-bs-toggle="modal"
                  data-bs-target=`#modalReporte-${c.id}`
                )
                  i.bi.bi-three-dots-vertical

          if usuario && usuario.id !== c.id_usuario
            .modal.fade(id=`modalReporte-${c.id}` tabindex="-1")
              .modal-dialog
                .modal-content

                  .modal-header
                    h5.modal-title Reportar comentario
                    button.btn-close(type="button" data-bs-dismiss="modal")

                  form(action="/denuncias/crear" method="POST")
                    .modal-body

                      input(type="hidden" name="tipo" value="comentario")
                      input(type="hidden" name="id_referencia" value=c.id)

                      label.form-label Motivo
                      select(name="motivo" required class="form-select mb-2")
                        option(value="") Seleccionar motivo
                        option(value="Spam") Spam
                        option(value="Contenido inapropiado") Inapropiado
                        option(value="Derechos de autor") Copyright

                      label.form-label Descripción
                      textarea.form-control(
                        name="descripcion"
                        placeholder="Detalle (opcional)"
                      )

                    .modal-footer
                      button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancelar
                      button.btn.btn-danger(type="submit")
                        i.bi.bi-flag
                        |  Reportar

      if usuario
        form.comment-form(action='/comentarios/crear' method='POST')
          input(type='hidden' name='id_publicacion' value=publicacion.id)
          textarea(name='contenido' placeholder='Comentar...' required)

  script(src="/js/detalle-publicacion.js")