extends layout

block styles
  link(rel='stylesheet', href='/css/publicaciones.css')

block content

  .feed-container
    .row#contenedor-publicaciones

      each p in publicaciones

        .col-md-4.col-sm-6.mb-4

          .post-card

            .post-image
              if p.imagen && p.imagen.length > 50
                img(
                  src=p.imagen.startsWith('data:')
                    ? p.imagen
                    : `data:image/jpeg;base64,${p.imagen}`
                )
              else
                img(src='/img/no-image.png')

            .post-body

              .post-header
                i.bi.bi-person-circle
                span= p.username

              h5.post-title= p.titulo
              p.post-text= p.descripcion

              .post-actions

                a.btn.btn-view(
                  href=`/publicaciones/${p.id}`
                )
                  i.bi.bi-eye
                  | Ver

                if usuario && usuario.id !== p.id_usuario

                  a.btn.btn-follow(
                    href=`/seguimientos/seguir/${p.id_usuario}`
                  )
                    i.bi.bi-person-plus
                    | Seguir

                  a.btn.btn-unfollow(
                    href=`/seguimientos/dejar/${p.id_usuario}`
                  )
                    i.bi.bi-person-dash
                    | Dejar